{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>electroetemad</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body style="background-color: rgb(212, 212, 212); background-size:100% 100%">

    <div class="container-fluid" >

        <div class="navbar navbar-inverse" style="padding-right:10px; background-color:rgb(231, 56, 56)">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" style="font-size: 1.5em; color:white">مقالات علمی</a></li>
                <li><a href="#" style="font-size: 1.5em; color:white">عضویت</a></li>
                <li><a href="#" style="font-size: 1.5em; color:white">ورود</a></li>
            </ul>
            <form action="#" class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="search" class="form-control" placeholder="جست و جو">
                </div>
                <button type="submit" class="btn btn-warning">search</button>
            </form>
        </div>

        {% block content %}
        {% endblock %}



    
        <div style="padding:15px; background-color:rgb(58, 58, 58)">
            <div class="row" style="display:flex; justify-content:space-around">

                <div class="col-xs-3">
                <p style="color:rgb(204, 204, 204); font-size:1.4em">hyperelectrode.com</p>
                    <strong style="color:rgb(184, 184, 184); font-size:15px"><span style="color:rgb(189, 107, 1)" class="glyphicon glyphicon glyphicon-record"></span> تهران شهرک صنعتی شمس آباد روبروی خروجی شهرک - فروشگاه الکترود اعتماد</strong></br></br>
                    <strong style="color:rgb(184, 184, 184); font-size:13px"><span style="color:rgb(189, 154, 1)" class="glyphicon glyphicon-earphone"></span> 021-56229706</strong></br>
                    <strong style="color:rgb(184, 184, 184); font-size:13px"><span style="color:rgb(189, 154, 1)" class="glyphicon glyphicon-earphone"></span> 021-56224706</strong></br>
                    <strong style="color:rgb(184, 184, 184); font-size:13px"><span style="color:rgb(189, 154, 1)" class="glyphicon glyphicon-earphone"></span> 021-56229684</strong></br>
                </div>

                <div class="col-xs-4 text-center">
                    <strong style="color:rgb(206, 56, 56); font-size:1.25em">شبکه های اجتماعی</strong></br>
                    <hr style="border-color:rgb(250, 84, 84); width:80%">
                    <img src="{% static 'gmail.png' %}" width="15%" >
                    <img src="{% static 'telegram.png' %}" width="15%">
                    <img src="{% static 'instagram.png' %}" width="15%">
                </div>

                <div class="col-xs-4 text-center">
                    <p style="font-size:1.25em; color: rgb(206, 56, 56)">برندها</p>
                    <hr style="border-color:rgb(250, 84, 84); width:90%">
                </div>

            </div>
            <div class="text-center" style="color: rgb(177, 177, 177)"><span> تمامی حقوق این سایت نزد هایپرالکترود محفوظ می باشد </span><span class="glyphicon glyphicon-copyright-mark"></span></div>
        </div>

    </div>



</body>
</html>